/* SMALL DEVICES */
header {
    background-color: #ffffff;
}

body {
    background-color: #f9f9f9;
}

/* OVERVIEW */
main .overview {
    background-color: #ffffff;
    min-height: 200px;
}

main .overview div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

main .overview div h2 {
    color: #717171;
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

main .overview .link-view-all-stats {
     text-decoration: none;
     color: #000000;
     background-color: #f0f0f0;
     padding: 0.5rem 1rem 0.5rem 1rem;
     border-radius: 1.5rem;
}

main .overview .stats div a {
    text-decoration: none;
    color: #000000;
    font-size: 0.7rem;
}

main .overview .stats div a:hover {
    opacity: 0.7;
}

main .overview .stats div p {
    font-weight: bold;
    font-size: 2rem;
    width: 100%;
}

main .overview .stats div {
    display: flex;
    flex-direction: column;
}
/* END OF OVERVIEW */

/* NO SUPPORTERS */
main .no-supporters {
    margin-top: 3rem;
    background-color: #ffffff;
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .no-supporters .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 4px rgba(0,0,0,.5);
    width: 80%;
    margin: auto;
    padding: 1rem;
}

main .no-supporters .info .img-container {
    background-color: lightgray;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

main .no-supporters .info p {
    width: 80%;
    text-align: center;
}

main .no-supporters .info .p-02 {
    color: #717171;
}
/* END OF NO SUPPORTERS */

/* CHECKLIST */
main .checklist {
    background-color: #ffffff;
    min-height: 200px;
    margin-top: 3rem;
}

main .checklist div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

main .checklist div h2 {
    color: #717171;
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

main .checklist .btn-hide {
    color: #000000;
    background-color: #f0f0f0;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: none;
    border-radius: 1.5rem;
}

main .checklist .mini-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

main .checklist .mini-section img {
    width: 2rem;
    margin-bottom: 1rem;
}

main .checklist .mini-section .copy input {
    border: 1px solid lightgray;
    padding: 0.4rem;
    outline: none;
}

main .checklist .mini-section .copy .btn-copy {
    background-color: #f0f0f0;
    padding: 0.5rem 1rem;
    border: none;
}

.custom-link-01 {
    text-decoration: none;
    color: #000000;
    background-color: #f0f0f0;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 1.5rem;
    font-weight: bold;
}
/* END OF CHECKLIST */

/* RESOURCES */
main .resources {
    margin-top: 3rem;
    background-color: #ffffff;
    min-height: 250px;
    padding: 1rem;
}

main .resources h2 {
    color: #717171;
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 1rem;
}

main .resources .resource {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
    width: 90%;
    margin: 1rem auto 1rem auto;
    text-decoration: none;
    color: #000000;
}

main .resources .resource img {
    width: 2rem;
    margin-right: 1rem;
}

main .resources .resource p {
    margin: 0rem;
    font-weight: 600;
    width: 100%;
}

main .resources .final-resource {
    margin-bottom: 6rem;
}
/* END OF RESOURCES */

/* MEDIUM DEVICES (TABLETS, 768PX AND UP) */
@media (min-width: 768px) {
    header {
        background-color: unset;
    }
}

/* LARGE DEVICES (DESKTOPS, 992PX AND UP) */
@media (min-width: 992px) { }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }