/* PERSONAL INFO */
main .personal-info {
    background-color: #ffffff;
    width: 100%;
    padding: 1rem;
}

main .personal-info img {
    width: 2rem;
    margin-top: 1rem;
}

.input {
    margin-top: 1.5rem;
}

main label {
    font-weight: bold;
}

.input input {
    display: block;
    outline: none;
    border: 1px solid lightgray;
    background-color: #f3f3f3;
    padding: 0.5rem;
    width: 90%;
}

.input input:focus {
    background-color: #ffffff;
}

main .personal-info .select {
    margin-top: 1.5rem;
}

main .personal-info .select select {
    display: block;
    border: 1px solid lightgray;
    background-color: #f3f3f3;
    padding: 0.5rem;
    width: 90%;
}

main button {
    background-color: #ffdd00;
    margin: 1.5rem 0rem;
    border: none;
    padding: 1rem;
    border-radius: 2rem;
    width: 100%;
}

main button:hover {
    filter: brightness(90%);
}

/* END OF PERSONAL INFO */

/* PASSWORD */
main .password {
    background-color: #ffffff;
    width: 100%;
    padding: 1rem 1rem 6rem 1rem;
    margin-top: 2rem;
}
/* END OF PASSWORD */