main .extras {
    text-align: center;
    padding-bottom: 6rem;
}

main .extras h1 {
    color: #222;
    font-size: 1.3rem;
    font-weight: 600;
}

main .extras p {
    color: #717171;
}

main .extras .extras-btn {
    border: none;
    width: 80%;
    padding: 1rem;
    border-radius: 0.25rem;
    margin-top: 1.5rem;
}

main .extras .extras-btn img {
    width: 1.3rem;
    margin-right: 0.4rem;
}

main .extras .btn-start {
    background-color: rgba(34,34,34,.03);
    border: 2px dashed lightgray;
}

main .extras .btn-book {
    background-color: #e3f2fd;
}

main .extras .btn-digital {
    background-color: #e8f5e9;
}

main .extras .btn-live {
    background-color: #f3e5f5;
}

main .extras .btn-art {
    background-color: #e8eaf6;
}

main .extras .btn-instagram {
    background-color: #fffde7;
}

/* MEDIUM DEVICES (TABLETS, 768PX AND UP) */
@media (min-width: 768px) {
    body {
        background-color: #f9f9f9;
    }

    main {
        background-color: #ffffff;
        padding: 1rem;
    }

}

/* LARGE DEVICES (DESKTOPS, 992PX AND UP) */
@media (min-width: 992px) { 

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }