body {
    background-color: #f9f9f9;
}

main {
    background-color: #ffffff;
    padding: 1rem;
}

/* NO FOLLOWERS */
main .no-followers {
    margin-top: 3rem;
    background-color: #ffffff;
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .no-followers .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid #000000; */
    box-shadow: 0 1px 4px rgba(0,0,0,.5);
    width: 80%;
    margin: auto;
    padding: 1rem;
}

main .no-followers .info .img-container {
    background-color: lightgray;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

main .no-followers .info p {
    width: 80%;
    text-align: center;
}

main .no-followers .info .p-02 {
    color: #717171;
}
/* END OF NO FOLLOWERS */