body {
    background-color: #f9f9f9;
}

main, header {
    background-color: #ffffff;
}

main {
    padding: 1rem;
}

/* MEDIUM DEVICES (TABLETS, 768PX AND UP) */
@media (min-width: 768px) {

    header {
        background-color: unset;
    }
}

/* LARGE DEVICES (DESKTOPS, 992PX AND UP) */
@media (min-width: 992px) { 

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }