* {
    padding: 0%;
    margin: 0%;
}

/* HEADER */
header {
    padding: 2rem 1rem 1rem 1rem;
    display: flex;
    justify-content: space-between;
}

header .logo p {
    display: inline-block;
    margin-left: 1rem;
}

header .links a {
    margin-right: 1rem;
    text-decoration: none;
}

header .links .link-login {
    color: #000000;
    font-weight: bold;
}

header .links .link-login:hover {
    border-bottom: 0.2rem solid #000000;
}

header .links .link-signup {
    background-color: #0c0b22;
    color: #ffffff;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    border-radius: 0.5rem;
}
/* END OF HEADER */