* {
    padding: 0%;
    margin: 0%;
}

body {
    font-family: Helvetica;
}

/* HEADER */
header {
    padding: 2rem 1rem 1rem 1rem;
    display: flex;
    justify-content: space-between;
}

header .logo p {
    display: inline-block;
    margin-left: 1rem;
}

header .links a {
    margin-right: 1rem;
    text-decoration: none;
}

header .links .link-login {
    color: #000000;
    font-weight: bold;
}

header .links .link-login:hover {
    border-bottom: 0.2rem solid #000000;
}

header .links .link-signup {
    background-color: #0c0b22;
    color: #ffffff;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    border-radius: 0.5rem;
}
/* END OF HEADER */

/* SECTION 01 */
.section-01 {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-01 img {
    width: 50%;
    height: 50%;
}

.section-01 p {
    text-align: center;
    margin: 0.8rem;
    font-weight: bold;
}

.section-01 div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, .03);
    height: 1rem;
    width: 75%;
    padding: 1rem;
    border-radius: 12px;
}

.section-01 div p {
    font-weight: bold;
}

.section-01 div span {
    color: #8e8e98;
}

.section-01 div i {
    color: #e1e1e3;
}

.section-01 .link-start-my-page {
    background-color: #ffdd00;
    height: 1rem;
    width: 75%;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 12px;
    text-decoration: none;
    text-align: center;
    color: #000000;
    font-weight: bold;
}

.section-01 .images-container-01 {
    width: 80%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
}

.section-01 .images-container-01 .img-dashboard {
    width: 90%;
    height: 50%;
    box-shadow: 0 4px 48px rgba(13,12,34,.1);
}

.section-01 .images-container-01 .img-video {
    width: 50%;
    position: absolute;
    bottom: 0%;
    left: 25%;
}

.section-01 .images-container-01 .img-video:hover {
    
    transform: scale(1.1);
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
/* END OF SECTION 01 */

/* SECTION 02 */
.section-02 {
    padding-top: 3rem;
    background-color: #faf7f2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-02 h3 {
    text-align: center;
}

.section-02 input {
    width: 80%;
    background-color: #ffffff;
    border: none;
    padding: 0.8rem;
    margin-top: 1rem;
    border-top-right-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
    box-shadow: 0 4px 48px rgba(13,12,34,.1);
    outline: none;
}

.section-02 .categories > button {
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin: 1rem;
}

.btn-active {
    background-color: #eeebe7;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    border-radius: 1rem;
}

.btn-inactive {
    color: #717171;
    background-color: transparent;
}

.btn-inactive:hover {
    color: #000000;
}

.section-02 .categories {
    overflow-x: scroll;
    width: 100%;
    display: flex;
    justify-content: start;
}

.section-02 .cards {
    margin-top: 3rem;
}

.section-02 .cards .card-01 {
    width: 70%;
    height: 65vh;
    background-color: #ffffff;
    position: relative;
    margin: auto;
    border-radius: 1rem;
}

.section-02 .cards div .bg-image {
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.section-02 .cards div p {
    text-align: center;
    margin-top: 1rem;
}

.section-02 .cards div .description {
    margin-top: 3rem;
}
/* END OF SECTION 02 */

/* SECTION 03 */
.section-03 {
    padding-top: 3rem;
    background-color: #faf7f2;
}

.section-03 h1, .section-03 p {
    text-align: center;
    width: 80%;
    margin: auto;
    
}

.section-03 h1 {
    line-height: 2rem;
    font-weight: bold;
}

.section-03 p {
    margin-top: 1.5rem;
    font-weight: bold;
    line-height: 1.6rem;
}

.section-03 .images {
    display: flex;
    justify-content: center;
}

.section-03 .images img {
    width: 90%;
    margin-top: 1.2rem;
}
/* END OF SECTION 03 */

/* SECTION 04 */
.section-04 {
    padding-top: 3rem;
    background-color: #faf7f2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-04 h1, 
.section-04 p {
    text-align: center;
    width: 80%;
    margin: auto;
    font-weight: bold;
}

.section-04 h1 {
    line-height: 2rem;
}

.section-04 p {
    margin-top: 1.5rem;
    line-height: 1.6rem;
}

.section-04 img {
    width: 90%;
}

/* END OF SECTION 04 */

/* SECTION 05 */
.section-05 {
    padding-top: 3rem;
    background-color: #faf7f2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-05 h1, 
.section-05 p {
    color: #0d0c23;
    font-weight: bold;
    text-align: center;
    width: 80%;
    margin: auto;
}

.section-05 h1 {
    line-height: 2rem;
}

.section-05 p {
    margin-top: 1.5rem;
    line-height: 1.6rem;
}

.section-05 img {
    width: 90%;
}
/* END OF SECTION 05 */

/* SECTION 06 */
.section-06 {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-06 div {
    width: 80%;
    margin: auto;
}

.section-06 h1,
.section-06 div p {
    text-align: center;
}

.section-06 div p {
    margin-top: 1.5rem;
}

.section-06 .link-start-my-page {
    background-color: #ffdd00;
    height: 1rem;
    width: 35%;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 12px;
    text-decoration: none;
    text-align: center;
    color: #000000;
    font-weight: bold;
}

.section-06 p {
    margin-top: 1.5rem;
}
/* END OF SECTION 06 */