* {
    padding: 0%;
    margin: 0%;
}

body {
    font-family: Helvetica;
    color: #0d0c23;
    position: relative;
}

/* SMALL DEVICES */
h3 {
    font-family: 'Graphik', sans-serif;
    font-size: 1.8rem;
    text-align: center;
    width: 90%;
    margin: auto;
}

/* SECTION 01 - MEETING BUYMEACOFFEE */
.meeting-buymeacoffee-section {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meeting-buymeacoffee-section .description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meeting-buymeacoffee-section .description img {
    width: 50%;
    height: 50%;
    margin-bottom: 2rem;
}

.meeting-buymeacoffee-section .description .paragraphs p {
    text-align: center;
    margin: 0.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    font-size: 1.2rem;
}

.meeting-buymeacoffee-section .container-start-my-page,
.meeting-buymeacoffee-section .container-start-my-page div {
    width: 100%;
    margin: auto;
}

.meeting-buymeacoffee-section div .container-buymeacoffee {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, .03);
    height: 1rem;
    width: 75%;
    padding: 1.5rem;
    border-radius: 12px;
}

.meeting-buymeacoffee-section div .container-buymeacoffee p {
    font-weight: bold;
}

.meeting-buymeacoffee-section div .container-buymeacoffee span {
    color: #8e8e98;
}

.meeting-buymeacoffee-section div .container-buymeacoffee i {
    color: #e1e1e3;
}

.meeting-buymeacoffee-section .container-start-my-page {
    margin-top: 2rem;
}

.meeting-buymeacoffee-section div .container-link-start {
    background-color: #ffdd00;
    height: 1rem;
    width: 75%;
    padding: 1.5rem;
    margin-top: 2rem;
    text-align: center;
    border-radius: 12px;
    font-family: 'Graphik', sans-serif;
    font-size: 1.2rem;
}

.meeting-buymeacoffee-section .container-start-my-page .container-link-start .link-start-my-page {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.meeting-buymeacoffee-section .p-free {
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.meeting-buymeacoffee-section .images-container-01 {
    width: 80%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;

}

.meeting-buymeacoffee-section .images-container-01 .img-dashboard {
    width: 90%;
    height: 50%;
    box-shadow: 0 4px 48px rgba(13,12,34,.1);
}

.meeting-buymeacoffee-section .images-container-01 .img-video {
    width: 50%;
    position: absolute;
    bottom: 0%;
    left: 25%;
}

.meeting-buymeacoffee-section .images-container-01 .img-video:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
/* END OF SECTION 01 - MEETING BUYMEACOFFEE */

/* SECTION 02 - CREATORS SECTION */
.creators-section {
    padding-top: 2rem;
    margin-top: 3rem;
    background-color: #faf7f2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.creators-section h3 {
    text-align: center;
}

.creators-section input {
    width: 80%;
    background-color: #ffffff;
    border: none;
    padding: 0.8rem;
    margin-top: 1rem;
    border-radius: 0.7rem;
    box-shadow: 0 4px 48px rgba(13,12,34,.1);
    outline: none;
}

.creators-section .categories > button {
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin: 1rem;
}

.btn-active {
    background-color: #eeebe7;
    padding: 0.2rem 1rem;
    border-radius: 1rem;
}

.btn-inactive {
    color: #717171;
    background-color: transparent;
}

.btn-inactive:hover {
    color: #000000;
}

.creators-section .categories {
    overflow-x: scroll;
    width: 100%;
    display: flex;
    justify-content: start;
}

.creators-section .cards {
    margin-top: 3rem;
}

.creators-section .cards .card-01 {
    width: 70%;
    height: 100%;
    background-color: #ffffff;
    margin: auto;
    border-radius: 1rem;
    padding-bottom: 3rem;
}

.creators-section .cards div .bg-image {
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.creators-section .cards div p {
    text-align: center;
    margin-top: 1rem;
}

.creators-section .cards div .description {
    margin-top: 3rem;
}
/* END OF SECTION 02 - CREATORS SECTION */

/* SECTION 03 - SAY THANKS SECTION*/
.say-thanks-section img {
    margin-top: 1.2rem;
}
/* END OF SECTION 03 - SAY THANKS SECTION */

/* SECTION 06 - PURPOSE SECTION */
.purpose-section {
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.purpose-section div {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.purpose-section div svg {
    margin-top: 3rem;
}

.purpose-section div p {
    text-align: center;
    margin-top: 1.5rem;
    line-height: 1.8rem;
    font-size: 1.2rem;
}

.purpose-section .link-start-my-page {
    background-color: #ffdd00;
    height: 1rem;
    width: 45%;
    padding: 1.5rem;
    margin-top: 2rem;
    border-radius: 12px;
    text-decoration: none;
    text-align: center;
    color: #000000;
    font-family: 'Graphik', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
}

.purpose-section p {
    margin-top: 1.5rem;
}
/* END OF SECTION 06 - PURPOSE SECTION */

/* MEDIUM DEVICES (TABLETS, 768PX AND UP) */
@media (min-width: 768px) { 
    /* SECTION 01 - MEETING BUYMEACOFFEE SECTION */
    .meeting-buymeacoffee-section .container-start-my-page {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    .meeting-buymeacoffee-section .container-start-my-page .container-buymeacoffee {
        width: 50%;
        margin: 0%;
    }

    .meeting-buymeacoffee-section .container-start-my-page .container-link-start {
        margin-top: 0%;
        width: 30%;
        margin: 0%;
    }
    /* END OF SECTION 01 - MEETING BUYMEACOFFEE SECTION */

    /* SECTION 02 - CREATORS SECTION */
    .creators-section .categories > button {
        font-size: 1rem;
    }
    /* END OF SECTION 02 - CREATORS SECTION */
 }

/* LARGE DEVICES (DESKTOPS, 992PX AND UP) */
@media (min-width: 992px) { 
    h3 {
        font-size: 3rem;
    }

    /* SECTION 01 - MEETING BUYMEACOFFEE SECTION */
    .meeting-buymeacoffee-section .description {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }

    .meeting-buymeacoffee-section .description img {
        width: 20%;
    }

    .meeting-buymeacoffee-section .description .paragraphs {
        width: 50%;
    }

    .meeting-buymeacoffee-section .description .paragraphs p {
        text-align: start;
        font-size: 1.5rem;
        line-height: 2.5rem;
    }

    .meeting-buymeacoffee-section .container-start-my-page,
    .meeting-buymeacoffee-section .container-start-my-page div {
        width: 55%;
    }

    .meeting-buymeacoffee-section .images-container-01 {
        width: 85%;
    }

    .meeting-buymeacoffee-section .images-container-01 .img-video {
        width: 30%;
    }
    /* END OF SECTION 01 - MEETING BUYMEACOFFEE SECTION */

    /* SECTION 02 - CREATORS SECTION */    
    .creators-section .cards .card-01 {
        width: 25%;
        height: 100%;
        background-color: #ffffff;
        margin: auto;
        border-radius: 1rem;
        padding-bottom: 3rem;
    }

    .creators-section .categories {
        overflow-x: hidden;
        display: flex;
        justify-content: center;
    }
    /* END OF SECTION 02 - CREATORS SECTION */  

    /* SECTION 06 - PURPOSE SECTION */
    .purpose-section .link-start-my-page {
        width: 15%;
    }
    
    .purpose-section div p {
        line-height: 2.5rem;
        font-size: 1.5rem;
    }
    /* END OF SECTION 06 - PURPOSE SECTION */
 }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }