/* SMALL DEVICES */
/* MENU FOR MOBILE */
.menu-for-mobile {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0%;
    background-color: #ffffff;
    padding: 1rem;
    width: 100%;
    border-top: 1px solid lightgray;
}

.menu-for-mobile a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-for-mobile a {
    text-decoration: none;
    color: #717171;
    font-size: 0.8rem;
}
/* END OF MENU FOR MOBILE */

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
}

header img {
    width: 10%;
    cursor: pointer;
    margin: 1rem;
}

header div {
    margin: 1rem;
}

header div a {
    color: #000000;
}

header div a:hover {
    opacity: 0.5;
}

header div p {
    display: inline-block;
}
/* END OF HEADER */

/* HEADER DROPDOWN */
header .dropdown-menu .img-coffee {
    width: 50%;
    cursor: unset;
    margin: 0%;
}

header .dropdown-menu .dropdown-icon {
    margin: 0%;
}
/* END OF HEADER DROPDOWN */

* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: #f9f9f9;
}

/* CATEGORIES */
.categories a {
    text-decoration: none;
    margin: 0.5rem;
    font-weight: 600;
}

.active-category {
    padding-bottom: 1rem;
    border-bottom: 2px solid #000000;
    color: #000000;
}

.inactive-category {
    color: #717171;
}
/* END OF CATEGORIES */

.tablet-info {
    display: none;
    width: 5%;
    margin-left: 2rem;
}

.icon {
    width: 1rem;
}