:root {
    --text-color-black: #222;
    --text-color-gray: #717171;
    --bg-color-white: #ffffff;
    --bg-color-gray: #f9f9f9;
}

* {
    margin: 0%;
    padding: 0%;
}

/* SMALL DEVICES */
/* MENU FOR MOBILE */
.menu-for-mobile {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0%;
    background-color: #ffffff;
    padding: 1rem;
    width: 100%;
    border-top: 1px solid lightgray;
}

.menu-for-mobile a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-for-mobile a {
    text-decoration: none;
    color: #717171;
    font-size: 0.8rem;
}
/* END OF MENU FOR MOBILE */

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
}

header img {
    width: 10%;
    cursor: pointer;
    margin: 1rem;
}

header div {
    margin: 1rem;
}

header div a {
    color: #000000;
}

header div a:hover {
    opacity: 0.5;
}

header div p {
    display: inline-block;
}
/* END OF HEADER */

/* HEADER DROPDOWN */
header .dropdown-menu .img-coffee {
    width: 50%;
    cursor: unset;
    margin: 0%;
}

header .dropdown-menu .dropdown-icon {
    margin: 0%;
}
/* END OF HEADER DROPDOWN */

/* CATEGORIES */
.categories a {
    text-decoration: none;
    margin: 0.5rem;
    font-weight: 600;
}

.active-category {
    padding-bottom: 1rem;
    border-bottom: 2px solid #000000;
    color: #000000;
}

.inactive-category {
    color: #717171;
}
/* END OF CATEGORIES */

.tablet-info {
    display: none;
    width: 5%;
    margin-left: 2rem;
}

.icon {
    width: 1rem;
}

.row {
    margin: 0%;
}

.col-12 {
    padding: 0rem;
}

.menu-for-tablet {
    display: none;
}

/* MEDIUM DEVICES (TABLETS, 768PX AND UP) */
@media (min-width: 768px) { 
    /* HEADER */
    header {
        display: flex;
        justify-content: space-between;
    }    

    header img {
        width: 5%;
        margin-right: 2rem;
    }

    header .mobile-info {
        display: none;
    }

    header .tablet-info {
        display: unset;
    }

    header .dropdown-menu .dropdown-icon {
        margin: 0%;
        width: 1rem;
    }
    /* END OF HEADER */

    main {
        margin-right: 2rem;
    }

    .menu-for-mobile {
        display: none;
    }

     /* MENU FOR TABLET */
    .menu-for-tablet {
        display: unset;
        padding: 0rem 2rem 0rem 2rem;
    }

    .menu-for-tablet .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu-for-tablet .profile p {
        font-size: 0.8rem;
    }

    .menu-for-tablet .profile a img {
        width: 3rem;
    }

    .menu-for-tablet .actions {
        display: flex;
        justify-content: center;
    }

    .menu-for-tablet .actions .btns {
        border: none;
        padding: 0.3rem;
        border-radius: 1rem;
        width: 50%;
        margin: 0.3rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-for-tablet .actions .btns:hover {
        filter: brightness(90%);
    }

    .menu-for-tablet .actions .btns img {
        width: 1rem;
        margin-right: 0.3rem;
    }

    .menu-for-tablet .actions .btn-post {
        background-color: #ffdd00;
    }

    .menu-for-tablet .actions .btn-msg {
        background-color: #ededed;
    }

    .menu-for-tablet .links {
        display: flex;
        flex-direction: column;
        margin: 1em;
    }

    .menu-for-tablet .links a {
        text-decoration: none;
        color: #717171;
        font-weight: bold;
        padding: 1rem 0.5rem;
        border-radius: 0.2rem;
    }

    .menu-for-tablet .links a:hover {
        background-color: #ededed;
    }

    .menu-for-tablet .links .active-link {
        background-color: #ededed;
    }

    .menu-for-tablet .links small {
        color: #717171;
        font-size: 0.5rem;
    }

    /* END OF MENU FOR TABLET */   
}

/* LARGE DEVICES (DESKTOPS, 992PX AND UP) */
@media (min-width: 992px) { 
    main {
        margin-right: 4rem;
    }

    header .tablet-info,
    header img {
        width: 2.5%;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }
