/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    /* HEADER */
    header a .logo {
        margin-left: 3rem;
    }
    
    header .links {
        width: unset;
    }

    header .links .link-login {
        margin-right: 3rem;
    }
    /* END OF HEADER */

    /* SECTION SIGN UP FOR SOCIAL NETWORKS */
    .sign-up-for-social-networks div .icon {
        margin: 2rem;
    }
    /* END OF SECTION SIGN UP FOR SOCIAL NETWORKS */

    /* IT IS USED FOR INPUT, CONTAINER LINK CONTINUE AND TERMS */
    .tablet-width {
        width: 50% !important;
    }

    /* SECTION LOGIN FOR SOCIAL NETWORKS */
    .login-for-social-networks div .icon {
        margin: 2rem;
    }
    /* END OF SECTION LOGIN FOR SOCIAL NETWORKS */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    /* HEADER */
    header nav .already {
        display: unset;
        margin-right: 1rem;
    }
    /* END OF HEADER */

    /* SECTION SIGN UP FOR SOCIAL NETWORKS */
    .sign-up-for-social-networks div .icon {
        margin: 1.5rem;
    }
    /* END OF SECTION SIGN UP FOR SOCIAL NETWORKS */

    /* IT IS USED FOR INPUT, CONTAINER LINK CONTINUE AND TERMS */
    .tablet-width {
        width: 25% !important;
    } 


    /* MODAL LINK LOGIN */
    .modal-link-login .login {
        width: 50%;
        margin: auto;
    }
    
    .modal-link-login .login .close-icon {
        position: absolute;
        top: 0%;
        right: 28%;
        margin-top: 1rem;
        font-size: 1.5rem;
        cursor: pointer;
    }
    /* END OF MODAL LINK LOGIN */
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }