/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    /* HEADER */
    header .logo {
        width: 30%;
        margin-left: 3rem;
    }

    header .links .link-login {
        margin-right: 3rem;
    }
    /* END OF HEADER */

    /* SECTION SIGN UP FOR SOCIAL NETWORKS */
    .sign-up-for-social-networks div .icon {
        margin: 2rem;
    }
    /* END OF SECTION SIGN UP FOR SOCIAL NETWORKS */

    /* IT IS USED FOR INPUT, CONTAINER LINK CONTINUE AND TERMS */
    .tablet-width {
        width: 50% !important;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    /* HEADER */
    header .logo {
        width: 17%;
    }
    
    header nav .already {
        display: unset;
        margin-right: 1rem;
    }
    /* END OF HEADER */

    /* SECTION SIGN UP FOR SOCIAL NETWORKS */
    .sign-up-for-social-networks div .icon {
        margin: 1.5rem;
    }
    /* END OF SECTION SIGN UP FOR SOCIAL NETWORKS */

    /* IT IS USED FOR INPUT, CONTAINER LINK CONTINUE AND TERMS */
    .tablet-width {
        width: 25% !important;
    } 
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }