body {
    position: relative;
}

h1 {
    text-align: center;
    margin-top: 3rem;
}

/* SMALL DEVICES */

/* SECTION SIGN UP FOR SOCIAL NETWORKS */
.sign-up-for-social-networks {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
}

.sign-up-for-social-networks div .icon {
    background-color: #f3f3f3;
    padding: 1.5rem;
    margin: 0.7rem;
    border-radius: 50%;
    color: gray;
}

.sign-up-for-social-networks div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-up-for-social-networks div a {
    text-decoration: none;
    color: #222;
    margin-top: 0.5rem;
}
/* END OF SECTION SIGN UP FOR SOCIAL NETWORKS */

/* SECTION SIGN UP WITH EMAIL */
.sign-up-with-email {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-up-with-email input {
    margin: 0.5rem;
    background: rgba(34,34,34,.05);
    border: 1px solid rgba(34,34,34,.05);
    padding: 0.25rem 1rem;
    border-radius: 0.25rem;
	height: 2.5rem;
    width: 75%;
    outline: none;
}

.sign-up-with-email input:hover {
    border: 1px solid rgba(34,34,34,.6);
}

.sign-up-with-email input:focus {
    background-color: #ffffff;
}

.sign-up-with-email .container-link-continue {
    background-color: #ffdd00;
    height: 1rem;
    width: 70%;
    padding: 1rem 1.5rem;
    margin-top: 2rem;
    text-align: center;
    border-radius: 1.5rem;
    font-family: 'Graphik', sans-serif;
    font-size: 1.2rem;
}

.sign-up-with-email .container-link-continue .link-continue {
    text-decoration: none;
    color: #000000;
}
/* END OF SECTION SIGN UP WITH EMAIL */

main p {
    text-align: center;
    margin: 3rem 0rem 1.5rem 0rem;
    color: rgba(113,113,113,.6);
}

main .terms {
    width: 80%;
    margin: auto;
    margin: 2rem auto 2rem auto;
    color: rgba(113,113,113,.6);
}

.already {
    display: none;
}

/* MEDIUM DEVICES (TABLETS, 768PX AND UP) */
@media (min-width: 768px) { 
    /* SECTION SIGN UP FOR SOCIAL NETWORKS */
    .sign-up-for-social-networks div .icon {
        margin: 2rem;
    }

    .sign-up-with-email .container-link-continue {
        width: 49%;
    }
    /* END OF SECTION SIGN UP FOR SOCIAL NETWORKS */

    /* IT IS USED FOR INPUT AND TERMS */
    .tablet-width {
        width: 50% !important;
    }
}

/* LARGE DEVICES (DESKTOPS, 992PX AND UP) */
@media (min-width: 992px) {
    /* HEADER */
    header nav .already {
        display: flex;
        align-items: center;
        margin-right: 1rem;
    }
    /* END OF HEADER */

    /* SECTION SIGN UP FOR SOCIAL NETWORKS */
    .sign-up-for-social-networks div .icon {
        margin: 1.5rem;
    }

    .sign-up-with-email .container-link-continue {
        width: 25%;
    }
    /* END OF SECTION SIGN UP FOR SOCIAL NETWORKS */

    /* IT IS USED FOR INPUT, CONTAINER LINK CONTINUE AND TERMS */
    .tablet-width {
        width: 25% !important;
    } 
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }