* {
    margin: 0%;
    padding: 0%;
}

.row {
    margin: 0%;
}

.col-12 {
    padding: 0rem;
}

.brightness-90:hover {
    filter: brightness(90%);
}

/* NO INFO */
.no-info {
    margin-top: 3rem;
    background-color: #ffffff;
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-info .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 4px rgba(0,0,0,.5);
    width: 80%;
    margin: auto;
    padding: 1rem;
}

.no-info .info .img-container {
    background-color: lightgray;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.no-info .info p {
    width: 80%;
    text-align: center;
}

.no-info .info .p-02 {
    color: #717171;
}
/* END OF NO INFO */